
<div class="contenedor-general">

    <div class="contenedor-form">

        <div class="contenedor-texto">
            <h2>Contactanos!!!</h2>
        </div>

        <form action="">

        <label for="mail">Mail</label>
        <input id="mail" type="mail" placeholder="Escribe tu mail aquí...">

        <label for="mensaje">Mensaje</label>
        <input id="mensaje" type="text" placeholder="Escribe tu mensaje aquí...">

        <input type="submit" value="Enviar">
    </form>

    </div>

</div>
