.contenedor-general {
    width: 100%;  
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    gap: 20px;
}

.contenedor-cerveza {
    max-width: 700px;
    min-height: 270px;
    height: fit-content;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 10vh;
    align-items: center;
    justify-content: center;
}

.contenedor-cerveza p {
    padding-top: 10px;
}

.contenedor-cerveza .nombre {
    font-size: 20px;
}

.contenedor-img {
    width: 100%;
    height: 100%;
}

.contenedor-img img {
    width: 200px;
    height: 248px;
    object-fit: cover;
}

.contenedor-cerveza:hover {
    border: 1px solid white;
}

.contenedor-form{
    padding-top: 20px;
    display: grid;
    justify-content: center;
}

.contenedor-form .contenedor-texto {
    display: grid;
    justify-content: center;
    font-size: 22px;
}

.contenedor-form form {
    margin-top: 7vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vh;
    gap: 2vh;
    padding: 5vh;
    font-size: 20px;
}

.contenedor-form form input, textarea {
    resize: vertical;
    height: 4vh;
    width: 50vh;
    padding: 3px;
}

.contenedor-form form textarea {
    height: 12vh;
}


.contenedor-seccion-form {
    padding-bottom: 200px;
}

@media (max-width: 768px) {
    
    .contenedor-general {
        grid-template-columns: auto;
        padding: 20px 10px 0 10px;
    }

    .contenedor-form form {
        padding: 5vh;
    }

}