.contenedor-general {
    background-color: #000;
    width: 100%;
    height: 150px;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2vh;
    justify-content: space-around;
}

.footer-container h4 {
    padding-bottom: 1vh;
}

.footer-container ul li, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 2vh ;
}

.social-icons .fa {
    width: 4vh;
}

.social-icons {
    display: flex;
    gap: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.suscribir button {
    margin-top: 1vh;
}