<!-- este es el home -->

    <div class="contenedor-general">
        <div class="contenedor-ubicacion">

    <img src="imgs/localizaciones.jpg" alt="localizaciones">

    <div class="contenedor-texto">
        <p>Nuestras cervezas nacen en el corazón de la Patagonia, donde el agua pura y los ingredientes naturales dan origen a sabores únicos. Inspirados en recetas tradicionales europeas y fusionadas con el espíritu argentino, cada variedad refleja el carácter de nuestra tierra. Utilizamos maltas seleccionadas, lúpulos frescos y un proceso artesanal que respeta los tiempos de fermentación. Desde una suave Golden Ale hasta una intensa Stout, cada cerveza cuenta una historia. Apostamos por la calidad, la pasión y el sabor auténtico que solo una cerveza bien hecha puede ofrecer. Descubrí el placer de brindar con algo real.</p>
    </div>
    </div>

    <div class="contenedor-catalogo">
        <div class="contenedor-flecha">
        <p class="flecha">➤</p>
        </div>
        <a routerLink="/productos">Conoce Nuestro catalogo!!</a>
    </div>
    </div>





