<div class="fondo">
    
<div class="contenedor-general">

    <div class="contenedor-form">

        <div class="contenedor-texto">
            <h2>Contactanos!!!</h2>
        </div>

        <form action="" #formulario="ngForm">

        <label for="mail">Mail</label>
        <input id="mail" type="mail" name="mail" placeholder="Escribe tu mail aquí..." required>

        <label for="mensaje">Mensaje</label>
        <input id="mensaje" type="text" name="mensaje" placeholder="Escribe tu mensaje aquí..." required>

        <input [disabled]="!formulario.valid" type="submit" value="Enviar">
    </form>

    </div>

</div>

</div>